<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8" />
  <title>信息切换 - Vue + WebSocket</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <style>
    *{margin:0;padding:0;}
    body{font-size:14px;}
    ul{list-style:none;}
    #container{width:1000px;margin:150px auto;}
    #header{border-bottom:3px solid #F60;height:30px;}
    #header li{font-weight:bolder;float:left;height:30px;width:80px;text-align:center;line-height:30px; cursor: pointer;}
    #header .sec{background:#f60;color:#fff;}
    #listContent li{font-size:16px;line-height:30px;height:30px;}
    #tips{padding: 5px; position: absolute;left:0;top:0;width: 400px;border: 2px solid #FF7700; background-color: white;display:none;}
    #tips li{list-style:none;font-size:16px;height:30px;line-height:30px;}
    #tips li.col{width:180px;height: 30px; float: left;line-height: 30px; border-bottom: 1px solid #CCC;}
  </style>
</head>
<body>
  <div id="app">
    <div id="container">
      <ul id="header">
        <li v-for="(item, index) in data" :key="index" 
        :class="{ sec: currentIndex === index }" 
        @click="switchTab(index)">
        {{item.name}}
    </li>
      </ul>

      <div id="listContent">
        <ul v-for="(job,i) in currentList" :key="i" >
            <li>{{job.title}}</li>
        </ul>
        <!-- <ul v-for="(job, index) in currentList" :key="index">
          <li>
            <a
              href="javascript:"
              @mouseover="showTips($event, job)"
              @mouseout="hideTips"
            >
              {{ job.title }}
            </a>
          </li>
        </ul> -->
      </div>
    </div>

    <div
      id="tips"
      v-show="showTooltip"
      :style="{ left: tooltipPos.left + 'px', top: tooltipPos.top + 'px' }"
    >
      <div id="tipsContent">
        <h4>{{ tipData.company }}</h4>
        <li class="col">{{ tipData.recruitingNumbers }}</li>
        <li class="col">{{ tipData.workingLocation }}</li>
        <li class="col">{{ tipData.workExperience }}</li>
        <li class="col">{{ tipData.education }}</li>
        <li class="col">{{ tipData.wage }}</li>
        <li class="col">{{ tipData.addDate }}</li>
      </div>
    </div>
  </div>

  <script>
    const { createApp, ref, reactive, onMounted } = Vue

    //数据
    const  data = [
	{
		'name'	:	'前端',
		'list'	:	[
			{
				'title'	:	'前端工程师',
				'company'	:	'北京xxxx有限公司',
				'position'	:	'前端页面',
				'recruitingNumbers'	:	'2人',
				'workingLocation'	:	'北京',
				'workExperience'	:	'不限',
				'education'	:	'不限',
				'wage'	:	'面议',
				'addDate'	:	'2017-5-14'
			},
			{
				'title'	:	'网站前端页面设计',
				'company'	:	'上海xxxx有限公司 ',
				'position'	:	'前端页面',
				'recruitingNumbers'	:	'5人',
				'workingLocation'	:	'上海',
				'workExperience'	:	'不限',
				'education'	:	'大专',
				'wage'	:	'7000',
				'addDate'	:	'2017-5-14'
			},
			{
				'title'	:	'高级web前端工程师',
				'company'	:	'广州xxxx公司 ',
				'position'	:	'前端页面',
				'recruitingNumbers'	:	'12人',
				'workingLocation'	:	'广州',
				'workExperience'	:	'不限',
				'education'	:	'不限',
				'wage'	:	'面议',
				'addDate'	:	'2017-5-14'
			},
			{
				'title'	:	'HTML5前端工程师',
				'company'	:	'杭州xxxx有限公司 ',
				'position'	:	'前端页面',
				'recruitingNumbers'	:	'2人',
				'workingLocation'	:	'朝阳',
				'workExperience'	:	'不限',
				'education'	:	'不限',
				'wage'	:	'面议',
				'addDate'	:	'2017-5-14'
			},
			{
				'title'	:	'前端工程师',
				'company'	:	'北京xxxx科技有限公司 ',
				'position'	:	'前端页面',
				'recruitingNumbers'	:	'2人',
				'workingLocation'	:	'北京',
				'workExperience'	:	'不限',
				'education'	:	'不限',
				'wage'	:	'面议',
				'addDate'	:	'2017-5-14'
			},
			{
				'title'	:	'网站前端设计',
				'company'	:	'上海xxxx有限公司 ',
				'position'	:	'前端页面',
				'recruitingNumbers'	:	'2人',
				'workingLocation'	:	'上海',
				'workExperience'	:	'不限',
				'education'	:	'不限',
				'wage'	:	'面议',
				'addDate'	:	'2017-5-14'
			},
			{
				'title'	:	'诚招web前端开发工程师',
				'company'	:	'北京xxxx文化发展中心 ',
				'position'	:	'前端页面',
				'recruitingNumbers'	:	'2人',
				'workingLocation'	:	'北京',
				'workExperience'	:	'不限',
				'education'	:	'不限',
				'wage'	:	'面议',
				'addDate'	:	'2017-5-14'
			},
			{
				'title'	:	'web前端DIV+CSS',
				'company'	:	'深圳xxxx科技有限公司 ',
				'position'	:	'前端页面',
				'recruitingNumbers'	:	'2人',
				'workingLocation'	:	'深圳',
				'workExperience'	:	'不限',
				'education'	:	'不限',
				'wage'	:	'面议',
				'addDate'	:	'2017-5-14'
			},
			{
				'title'	:	'前端设计',
				'company'	:	'上海xxxx科技有限公司 ',
				'position'	:	'前端页面',
				'recruitingNumbers'	:	'3人',
				'workingLocation'	:	'上海',
				'workExperience'	:	'不限',
				'education'	:	'不限',
				'wage'	:	'面议',
				'addDate'	:	'2017-5-14'
			},
			{
				'title'	:	'招聘 前端页面工作者',
				'company'	:	'深圳xxxx教育科技有限公司 ',
				'position'	:	'前端页面',
				'recruitingNumbers'	:	'2人',
				'workingLocation'	:	'深圳',
				'workExperience'	:	'不限',
				'education'	:	'不限',
				'wage'	:	'面议',
				'addDate'	:	'2017-5-14'
			},
			{
				'title'	:	'页面前端工程师',
				'company'	:	'杭州xxxx管理有限公司 ',
				'position'	:	'前端页面',
				'recruitingNumbers'	:	'4人',
				'workingLocation'	:	'杭州',
				'workExperience'	:	'不限',
				'education'	:	'不限',
				'wage'	:	'面议',
				'addDate'	:	'2017-5-14'
			},
			{
				'title'	:	'高级web前端工程师',
				'company'	:	'南京xxxx公司 ',
				'position'	:	'前端页面',
				'recruitingNumbers'	:	'12人',
				'workingLocation'	:	'南京',
				'workExperience'	:	'不限',
				'education'	:	'不限',
				'wage'	:	'面议',
				'addDate'	:	'2017-5-14'
			},
			{
				'title'	:	'HTML5前端工程师',
				'company'	:	'北京xxxx科技有限公司 ',
				'position'	:	'前端页面',
				'recruitingNumbers'	:	'2人',
				'workingLocation'	:	'北京',
				'workExperience'	:	'不限',
				'education'	:	'不限',
				'wage'	:	'面议',
				'addDate'	:	'2017-5-14'
			},
			{
				'title'	:	'前端工程师',
				'company'	:	'深圳xxxx科技有限公司 ',
				'position'	:	'前端页面',
				'recruitingNumbers'	:	'2人',
				'workingLocation'	:	'深圳',
				'workExperience'	:	'不限',
				'education'	:	'不限',
				'wage'	:	'面议',
				'addDate'	:	'2017-5-14'
			},
			{
				'title'	:	'网站前端设计',
				'company'	:	'北京xxxx有限公司 ',
				'position'	:	'前端页面',
				'recruitingNumbers'	:	'2人',
				'workingLocation'	:	'北京',
				'workExperience'	:	'不限',
				'education'	:	'不限',
				'wage'	:	'面议',
				'addDate'	:	'2017-5-14'
			}
		]
	},
	
	{
		'name'	:	'后端',
		'list'	:	[
			{
				'title'	:	'PHP工程师',
				'company'	:	'杭州xxxx有限公司 ',
				'position'	:	'PHP后台',
				'recruitingNumbers'	:	'2人',
				'workingLocation'	:	'杭州',
				'workExperience'	:	'不限',
				'education'	:	'不限',
				'wage'	:	'面议',
				'addDate'	:	'2017-5-14'
			},
			{
				'title'	:	'诚招java开发工程师',
				'company'	:	'广州xxxx中心 ',
				'position'	:	'java开发',
				'recruitingNumbers'	:	'2人',
				'workingLocation'	:	'广州',
				'workExperience'	:	'不限',
				'education'	:	'不限',
				'wage'	:	'面议',
				'addDate'	:	'2017-5-14'
			},
			{
				'title'	:	'java工程师',
				'company'	:	'深圳xxxx科技有限公司 ',
				'position'	:	'java后台',
				'recruitingNumbers'	:	'2人',
				'workingLocation'	:	'深圳',
				'workExperience'	:	'不限',
				'education'	:	'不限',
				'wage'	:	'面议',
				'addDate'	:	'2017-5-14'
			},
			{
				'title'	:	'.net工程师',
				'company'	:	'北京xxxx网络科技有限公司 ',
				'position'	:	'.net程序员',
				'recruitingNumbers'	:	'3人',
				'workingLocation'	:	'通州',
				'workExperience'	:	'不限',
				'education'	:	'不限',
				'wage'	:	'面议',
				'addDate'	:	'2017-5-14'
			},
			{
				'title'	:	'招聘php程序员',
				'company'	:	'xxxx教育科技有限公司 ',
				'position'	:	'php程序员',
				'recruitingNumbers'	:	'2人',
				'workingLocation'	:	'北京',
				'workExperience'	:	'不限',
				'education'	:	'不限',
				'wage'	:	'面议',
				'addDate'	:	'2017-5-14'
			},
			{
				'title'	:	'PHP高级工程师',
				'company'	:	'北京xxxx管理有限公司 ',
				'position'	:	'PHP高级工程师',
				'recruitingNumbers'	:	'4人',
				'workingLocation'	:	'北京',
				'workExperience'	:	'不限',
				'education'	:	'不限',
				'wage'	:	'面议',
				'addDate'	:	'2017-5-14'
			}
		]
	}
];

    createApp({
      setup() {
        const currentIndex = ref(0)
        const currentList = ref(data[0].list)
        console.log(currentList.value);
        
        const showTooltip = ref(false)
        const tooltipPos = reactive({ left: 0, top: 0 })
        const tipData = reactive({
          company: '',
          recruitingNumbers: '',
          workingLocation: '',
          workExperience: '',
          education: '',
          wage: '',
          addDate: ''
        })

        const switchTab = (index) => {
          currentIndex.value = index
          currentList.value = data[index].list
        }

        const showTips = (e, job) => {
          const container = document.getElementById('container')
          tooltipPos.left = container.offsetLeft + e.target.offsetWidth + 10
          tooltipPos.top = e.target.offsetTop + e.target.scrollTop
          Object.assign(tipData, job)
          showTooltip.value = true
        }

        const hideTips = () => {
          showTooltip.value = false
        }

        // 可选：连接 WebSocket
        const socket = new WebSocket('ws://localhost:3000')
        socket.onmessage = (event) => {
          console.log('收到消息：', event.data)
        }

        return {
          data,
          currentIndex,
          currentList,
          showTooltip,
          tooltipPos,
          tipData,
          switchTab,
          showTips,
          hideTips
        }
      }
    }).mount('#app')
  </script>
</body>
</html>
